@font-face {
    src: url("./fonts/Nunito-SemiBold.ttf") format("truetype");
    font-family: Nunito;
    font-weight: 600;
}

@font-face {
    src: url("./fonts/Nunito-Bold.ttf") format("truetype");
    font-family: Nunito;
    font-weight: 700;
}

html {
    background-color: #4D4D4D;
}

h3, p, div {
    padding: 0;
    margin: 0;
}

.basket-empty{
    font-family: Nunito, sans-serif;
    width: 400px;
    height: 420px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
    background-color: white;
}

.basket-empty__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket-empty__image {
    margin-top: 37px;
    margin-bottom: 21px;
    width: 298px;
    height: 203px;
}

.basket-empty__title {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 11px;
}

.basket-empty__subtitle {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 300px;
}