.footer__contacts_tel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
@media only screen and (max-width: 420px) {
    .footer__contacts_tel {
        display: none;
    }
}