@font-face {
    src: url("./Nunito-Regular.ttf") format("truetype");
    font-family: Nunito;
    font-weight: 400;
}

@font-face {
    src: url("./Nunito-SemiBold.ttf")  format("truetype");
    font-family: Nunito;
    font-weight: 600;
}

@font-face {
    src: url("./Nunito-Bold.ttf") format("truetype");
    font-family: Nunito;
    font-weight: 700;
}