.footer__site-map__item_link_heading{
    opacity: 1;
    font-weight: 600;
}
@media only screen and (max-width: 420px) {
    .footer__site-map__item_link_heading{
        font-size: 16px;
        line-height: 24px;
    }
}